<div>
    <div *ngIf="currentTurn==playerId">Your turn!</div>
    <div *ngIf="winner">{{winner == playerId ? "You won!" : "You lost..." }}</div>
    <button (click)="pushButton()">Draw</button>
    <div cdkDropListGroup>
        <div *ngIf="centercard" class="card" cdkDropList (cdkDropListDropped)="drop_center($event)" [ngStyle]="{'background-color': getColor(centercard.color, 0.3)}">{{centercard.type}}</div>
        <div cdkDropListOrientation="horizontal" class="cardcontainer" cdkDropList (cdkDropListDropped)="drop($event)">
            <div class="card" *ngFor="let c of cards" cdkDrag  [ngStyle]="{'background-color': getColor(c.color, 0.3)}">{{getDisplay(c.type)}}</div>
        </div>
    </div>
</div>
<!-- [cdkDropListData]="cards"  [cdkDragData]="c" -->